extends base

block content
    //form 에 action이 없다면 현재 url로 post request를 보냄
    form(method="POST")
        input(placeholder="Name" ,name="name", type="text", required, value=loggedInUser.name)
        input(placeholder="Email" ,name="email", type="email", required, value=loggedInUser.email)
        input(placeholder="Username" ,name="username", type="text", required, value=loggedInUser.username)
        input(placeholder="Location" ,name="location", type="text", required, value=loggedInUser.location)
        input(type="submit", value="Update Profile")